*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body,html{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
/*main image*/
.header{
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(Image/pexels-simon-rizzi-3329812.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media screen and (max-width: 767px){
  .header{
   height: 70vh;
  }
}


/*desing for menu bar*/
.menu ul{
  float: right;
  list-style: none;
  margin-top: 30px;
  min-height: 400px;
  margin-right: 60px;
  font-size: 15px;

}
.menu ul li{
  display: inline-block;
}
.menu ul li a{
  text-decoration:none ;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: 0.5 ease;
  
}
.menu ul li a:hover{
  background-color: #fff;
  color: #000;
}
.active{
  background-color: red;
}
/*desing for logo*/
.logo img{
  float: left;
  width: 200px;
  height: 200px;
  padding-left: 50px;
  margin-top:-40px;
  border-radius: 100%;
}
.header__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__content h1{
  color: #fff;
  font-size: 60px;
  animation: neonLight 1.5s ease-in-out infinite alternate;
  text-shadow: 
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20 #000,
  0 0 30 #000,
  0 0 40 #000,
  0 0 50 #000,
  0 0 60 #000,
  0 0 70 #000;
}
@keyframes neonLight{
  from{
    text-shadow: 
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #000,
  0 0 30px #000,
  0 0 40px #000,
  0 0 50px #000,
  0 0 60px #000,
  0 0 70px #000;
  transform: scale(1);

  }
  to{
    text-shadow: 
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #000,
  0 0 30px #000,
  0 0 40px #000,
  0 0 50px #000,
  0 0 60px #000,
  0 0 70px #000,
  0 0 80px #000,
  0 0 90px #000,
  0 0 100px #000,
  0 0 110px #000;
  transform: scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .header__content{
    top: 30%;
  }
  .header__content h1 {
    font-size: 25px;
  }
}
.dropdown{
  display: none;
  top: 6%;
  position:absolute;
  text-align: center;
}
.dropdown ul{
  position:absolute;
  display:inline;
  text-size-adjust:initial;
  text-decoration-color: #000;
  text-align: right;
  font-display:inline;
}
.dropdown ul li a{
 display:inline-flex;
 font-display: inline;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.menu ul li:hover .dropdown{
  display: block;
  position: absolute;
  background-color: rgb(0, 45, 117);
  margin-top: 10px;
  margin-left: -8px;
}


.menu ul li:hover > .dropdown ul{
  display: block;
  margin: 10px;
  height: auto;
}
.menu ul li:hover .dropdown ul li{
  width: 75px;
  padding: 10px;
  border-bottom: 1px #fff;
  background: transparent;
  transition: 0.4 ease;
  text-align: left;
  border-radius: 0px;
}
/**************Responsive ****************/
@media only  screen and (min-width: 768px) and (max-width: 991px) {
  .menu ul li{
    font-size: 16px;
    margin: 0;
  }
  .menu ul li a{
    padding: 5px 10px;
  }
}
@media screen and (min-width: 768px) {
  .nav_icon,
  #navTrigger{
    display: none;
  }
  
}
@media screen and (max-width: 767px) {
  
  .nav_icon{
    display: block;
    position: relative;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
  }
  .menu ul{
    position: fixed;
    left: 0;
    top: 72px;
    padding: 0;
    background: #022335;
    z-index: 100;
    height: calc(100% - 74px);
    overflow: auto;
    width: calc(100% - 100px);
    transition: all 0.3s ease-out;
    transform: translateX(-150%);
  }
  .menu ul li{
    float: none;
    margin: 0 !important;
    border-bottom: 1px solid #fff;
  }
  .menu ul li a{
    padding: 10px;
  }
  .menu > ul > li:hover > a{
    background: #0a91da;
    color: #fff;
  }
  .dropdown{
    position: static;
    pointer-events: auto;
    opacity: 1;
    
  }
  .dropdown ul li a{
    padding-left: 30px;
  }
  .menu ul li:hover > .dropdown ul{
    height: auto;
  }
    #navTrigger{
      opacity: 0;
      position: fixed;
      width: 0;
      height: 0;
      margin: 0;
    }
    #navTrigger:checked + .menu{
      transform: translateX(0%);
    }  
}

/****************Introduction*************/
.introduction{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
/*introduction heading*/
.introduction h2{
  font-size: 36px;
  font-weight: 600;
  color: rgb(49, 11, 18);
}
/*introduction paragraph*/
.introduction p{
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
/*sub-section 01 design*/
.row{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.mangrove{
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
}
.mangrove-col{
  flex-basis: 48%;
  padding: 10px 2px;
}
.mangrove-col img{
  width: 100%;
}
.mangrove-col h1{
  padding-top: 0;
}
.mangrove-col p{
  padding: 10px 0 20px;
}
@media  screen and (max-width:768px) {
  .mangrove{
    flex-direction: column;
    padding: auto;
  }
  .mangrove-col{
    flex-basis: 100%;
    margin-bottom: 5px;
  }
  
}



 
/*****************************footer********************************/
footer{
  background-color: #111;
  width: 100%;
  box-sizing: border-box;
}
.footer-content{
  width: 100%;
  padding: 0px 0px 50px;
  
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons a{
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
}
.social-icons a i{
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}
/*hover effect on icons*/
.social-icons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.social-icons a:hover i{
  color: #fff;
  transition: 0.5s;
}
.footer-nav{
  margin: 10px 0;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer-nav ul li a{
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-nav ul li a :hover{
  opacity: 1;
}
.bottom-bar{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.bottom-bar p{
  color: #fff;
}
/************************Responsive styles*************************/


@media (max-width:700px){
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
/*Sri lankan wild life page designs*/
.intro-header{
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(Image/pexels-connor-danylenko-1414535.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px){
  .intro-header {
    height: 60vh;
  }
}
.header_content1 h1{
  color: #fff;
  font-size: 37px;
}
.header_content1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 768px) {
  .header__content1 {
    top: 30%;
  }
  .header__content1 h1 {
    font-size: 25px;
  }
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.locations{
  width: 80%;
  margin: auto;
  text-align: center;
}
.locations h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-top: 20px;
}
.locations p{
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
.locations-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.locations-col img{
  width: 100%;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.locations-col img:hover{
  transform: scale(1.1);
}

.locations-col p{
  padding: 0;
}
.locations-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}
.locations-col iframe{
  width: 100%;
}
/*Mobile responsive*/

/*table design*/
.summery-table{
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
}
.summery-table h1{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.th,td{
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
table td img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
tfoot{
  background-color: #f5f5f5;
}
tfoot td{
  padding: 15px;
  text-align: center;
}
@media(max-width: 480px){
  .summery-table h1{
    font-size: 16px;
  }
  .th,td{
    padding: 6px;
  }
}
@media(max-width: 768px){
  .summery-table h1{
    font-size: 18px;
  }
  .th,td{
    padding: 8px;
  }

}



/*DWC page disign*/
.DWC-header{
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(Image/3rd\ pg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  
}
@media screen and (max-width: 767px){
  .DWC-header{
   height: 60vh;
  }
}
/*DWC Introduction*/
.DWC-intro{
  width: 80%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
}
/*DWC introduction heading*/
.DWC-intro h1{
  font-size: 36px;
  font-weight: 600;
  color: #000;
}
.DWC-intro h2,.DWC-intro h3,.DWC-intro h4{
  color: #000;
  font-size: 25px;
  font-weight: 400;
}
/*DWC introduction paragraph*/
.DWC-intro p{
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
.DWC-intro ul li{
  color: #000;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
}
/*protected areas*/
.protected_areas-h h1{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.protected_areas{
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding-top: 20px;
}
.protected_areas-h h1{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.protected_areas{
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding-top: 20px;
}

.areas{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;  
}
.img-container{
  width: 400px;
  height: 300px;
  position: relative;
  border:  3px solid #fff;
  overflow: hidden;
  
}
.img-container img{
  width: 90%;
  height: 95%;
  object-fit: cover;
  margin-left: 5%;
  
}

.img-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateX(-100) scale(1) skew(-45deg);
  transition: .5s;
}
.content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 50px;
  text-align: center;
}
.content h1{
  padding: 0;
  color: #fff;
  margin: 20px;
  font-size: 20px;
  transform: translateY(-100%) scale(0);
}




.areas:hover .content h1{
  transform: translateY(0) scale(1);
}
.areas:hover.img-container img{
  transform: scale(2) translateX(-50px);
}
.areas:hover .img-container::before{
  opacity: 1;
  background-color: #000 ;
  transform: translateX(0) scale(1) skew(-45deg);
}
.map h1{
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}
.map iframe{
  padding-top:20px;
  width: 100%;
} 
/*Responsive*/
@media screen and (max-width: 700px) {
  .areas{
    flex-direction: column;
  }
  .container{
    width: 100%;
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .content{
    padding:  15px;
  }
}    




/*Leoparts in sri lanka*/
.leo-header{
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(Image/leopard\ 01.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  
  animation: slide 20s infinite;
}
/*Animation*/

@keyframes slide{
  25%{
    background-image: url(Image/leopard\ 02.jpg);
  }
  50%{
    background-image: url(Image/leopard\ 03.jpg);
  }
}
@media screen and (max-width: 767px){
  .leo-header{
   height:70vh;
  }
}

/*intro design*/
.leo-intro{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.leo-intro h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-top: 20px;
}
.leo-intro p{
  text-align: center;
  line-height: 22px;
  padding: 20px;
  font-weight: 300;
}
/*venue design*/

.venue{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.venue-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: gainsboro;
  box-sizing: border-box;
  
}
.venue-col p{
  padding: 0;
  text-align: center;
  margin: 10px;
}
.venue-col h3{
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
/*Mobile responsive*/
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
/*Threat section*/
.threats{
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: bisque;
  margin-bottom: 10px;
  
  
}
.threat-img{
  align-items: center;
 
}
.threat-img img{
  width: 800px;
  object-fit: cover;
  height: 500px;
  overflow: hidden;
  margin: 10px auto;
  display: flex;
  
}
.threat-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin: 20px;
  border: 2px solid #000;
  text-align: left;
  box-sizing: border-box;
  background-color: burlywood;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.threat-col p{
  padding: 0;
  text-align: left;
  margin: 10px;
}
.threat-col h1{
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
.button{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;

}
.btn{
  font-size: 18px;
  font-weight: bold;
  background: #0a0b0c;
  width: 160px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.separator{
  border: 1px solid #0e0d0d;
  margin: 20px 0;
}
/*Responsive style*/
@media(max-width: 700px){
  .threat-img img{
    width: 300px;
    height: auto;
  }
}




/*Animals in sri lanka*/
.ani-header{
  background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(Image/ani.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
@media screen and (max-width: 767px){
  .ani-header{
   height: 60vh;
  }
}

.ani-intro{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.ani-intro h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-top: 20px;
}
.ani-intro p{
  text-align: center;
  line-height: 22px;
  padding: 20px;
  font-weight: 300;
}
/*Desing for endangered animal in sri lanka*/

.endangered_animals{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}
.card{
  position: relative;
  width: 400px;
  height: 350px;
  margin: auto;
  margin-bottom: 40px;
}
.img_card-front,.img_card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.img_card-front img{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.img_card-front h1{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff ;
  background: rgb(0, 0, 0, .4);
  text-align: center;
  font-weight: 300;
}
.img_card-back{
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 10px 10px #000;
}
.img_card-back h1{
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.img_card-back  p{
  height: 100%;
  letter-spacing: 1px;
}
.card:hover .img_card-front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover .img_card-back {
  transform: perspective(600px) rotateY(360deg);
}

/* Responsive adjustments for desktops */

@media(max-width: 700px){
  .endangered_animals{
    margin: 0;
    padding: 0;
  }
  .card{
    width: 95%;
    max-width: none;
    margin-bottom: 20px;
   
  }
  .img_card-back{
    width: 100%;
    max-width: 100%;
  }
}

















































